<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ServletTest2</display-name>
	<servlet>
		<servlet-name>xxx</servlet-name>
		<servlet-class>com.haofeng.servletTest.t1</servlet-class>
		<init-param>
			<param-name>p1</param-name>
			<param-value>v1</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>xxx</servlet-name>
		<url-pattern>/t1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>yyy</servlet-name>
		<servlet-class>com.haofeng.servletTest.t2</servlet-class>
		<init-param>
			<param-name>p2</param-name>
			<param-value>v2</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>yyy</servlet-name>
		<url-pattern>/t2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>zzz</servlet-name>
		<servlet-class>com.haofeng.servletTest.t3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>zzz</servlet-name>
		<url-pattern>/t3</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>t1</welcome-file>
	</welcome-file-list>
</web-app>